<footer class="bg-[#27187E] text-white text-sm py-4 px-6 flex md:flex-row flex-col justify-between items-center shadow-[inset_5px_5px_rgba(_253,_197,_245),inset_10px_10px_rgba(_179,_136,_235),inset_15px_15px_rgba(_114,_221,_247)]">
    <p>© 2025 Ítalo Kairon. Todos os direitos reservados.</p>
    <div class="flex space-x-4">
        <a href="https://github.com/likeamusa" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/%C3%ADtalo-ferreira-307469246/" target="_blank">LinkedIn</a>
        <a href="https://www.instagram.com/italo.kairon/" target="_blank">Instagram</a>
    </div>
</footer>
