<header
    class="bg-[#27187E] dark:bg-[#1a1047] text-white flex justify-between items-center opacity-90 shadow-[inset_-5px_-5px_rgba(_253,_197,_245),inset_-10px_-10px_rgba(_179,_136,_235),inset_-15px_-15px_rgba(_114,_221,_247)] flex-col md:flex-row p-5 gap-3">
    <div class="flex items-center gap-4">
        <img src="https://github.com/likeamusa.png" alt="Ítalo Kairon" class="h-12 rounded-full border-2 border-white">
        <a 
        href="/"
        class="text-2xl font-bold cursor-pointer"
        >Ítalo Kairon</a>
    </div>
    <nav class="gap-4">
        <ul class="flex gap-4 flex-col md:flex-row">
            <li
            class="hover:underline cursor-pointer"
            ><a href="/posts">Posts</a></li>
            <li
            class="hover:underline cursor-pointer"
            ><a href="#">Projetos</a></li>
            <li
            class="hover:underline cursor-pointer"
            ><a href="#">Sobre</a></li>
            <li
            class="hover:underline cursor-pointer"
            ><a href="#">Contato</a></li>
    </nav>
</header>